{
  "presets": ["atzuche", "@babel/typescript"],
  "plugins": [
    "transform-class-properties",
    ["import", { "libraryName": "antd" }, "antd"],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "lodash"
    ]
  ]
}
