.auto-form {
  background-color: #fff;
  margin-bottom: 24px;
  .ant-form-item-no-colon {
    margin-top: -24px;
  }
  &__title {
    font-size: 26px;
    color: #666;
    border-bottom: 1px solid #eee;
    line-height: 1;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  &__submit-btns {
    margin-bottom: 10px;
    .ant-form-item-label {
      visibility: hidden;
    }
    .ant-btn {
      margin-right: 15px;
    }
  }
}
