.at-sider-wrapper {
  position: fixed;
  width: 256px;
  height: 100%;
  z-index: 99;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);

  &.at-sider-wrapper--collapsed {
    width: 80px;
  }

  &.at-sider-wrapper--light {
    .at-sider__inner {
      &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.06);
        border-radius: 3px;
        box-shadow: inset 0 0 5px rgba(0, 21, 41, 0.05);
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.12);
        border-radius: 3px;
        box-shadow: inset 0 0 5px rgba(0, 21, 41, 0.05);
      }
    }
    .at-logo {
      background: #fff;
      h1 {
        color: #001529;
      }
    }
  }

  &.at-sider-wrapper--dark {
    .at-sider__inner {
      &::-webkit-scrollbar-track {
        background: hsla(0, 0%, 100%, 0.15);
        border-radius: 3px;
        box-shadow: inset 0 0 5px rgba(37, 37, 37, 0.05);
      }
      &::-webkit-scrollbar-thumb {
        background: hsla(0, 0%, 100%, 0.2);
        border-radius: 3px;
        box-shadow: inset 0 0 5px hsla(0, 0%, 100%, 0.05);
      }
    }
    .at-logo {
      background: #001529;
      h1 {
        color: #fff;
      }
    }
  }

  .at-logo {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #002140;
    overflow: hidden;
    flex-shrink: 0;
    img {
      display: inline-block;
      vertical-align: middle;
      height: 36px;
      border-radius: 50%;
    }
    h1 {
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      margin: 0 0 0 12px;
      font-weight: normal;
    }
  }

  .at-sider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    .ant-layout-sider-children {
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    &.ant-layout-sider-collapsed {
      .at-logo {
        h1 {
          display: none;
        }
      }
    }

    &__inner {
      flex-shrink: 0;
      flex: 1;
      overflow: hidden auto;

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
    }

    &.ant-layout-sider-collapsed {
      width: 80px;
      min-width: 80px;
      max-width: 80px;
      flex: 0 0 80px;
    }

    &__addonAfter {
      flex-shrink: 0;
    }

    &__addonBefore {
      flex-shrink: 0;
    }
  }

  &.breakpoint {
    pointer-events: none;
    z-index: 99;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    .at-sider {
      transform: translateX(-100%);
      transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
      overflow: hidden;
    }

    .at-sider-wrapper-masker {
      opacity: 0;
      transition: all 0.3s linear;
    }
  }

  &.fixedAside {
    z-index: 99;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: auto;
    overflow: hidden;
    .at-sider-wrapper-masker {
      opacity: 1;
      pointer-events: auto;
    }
    .at-sider {
      transform: translateX(0);
      overflow: auto;
      height: 100%;
      -webkit-overflow-scrolling: touch;
    }
  }

  &-masker {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
}
