.at-sider-wrapper {
  position: relative;

  .at-sider {
    width: 256px;
    min-width: 256px;
    max-width: 256px;
    flex: 0 0 256px;
    min-height: 100vh;
    height: 100%;
    background-color: #001529;
    &.ant-layout-sider-collapsed {
      width: 80px;
      min-width: 80px;
      max-width: 80px;
      flex: 0 0 80px;
    }
    .at-logo {
      height: 64px;
      position: relative;
      line-height: 64px;
      padding-left: 20px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      background: #002140;
      overflow: hidden;
      img {
        display: inline-block;
        vertical-align: middle;
        height: 36px;
      }
      h1 {
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        margin: 0 0 0 12px;
        font-weight: normal;
      }
    }
  }

  &.breakpoint {
    pointer-events: none;
    z-index: 99;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    .at-sider {
      transform: translateX(-100%);
      transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
      overflow: hidden;
    }

    .at-sider-wrapper-masker {
      opacity: 0;
      transition: all 0.3s linear;
    }
  }

  &.fixedAside {
    z-index: 99;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: auto;
    overflow: hidden;
    .at-sider-wrapper-masker {
      opacity: 1;
      pointer-events: auto;
    }
    .at-sider {
      transform: translateX(0);
      overflow: auto;
      height: 100%;
      -webkit-overflow-scrolling: touch;
    }
  }

  &-masker {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
}
