.auto-search-bar {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px dashed #f0f0f0;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  .ant-form-item {
    display: flex;
    margin-bottom: 12px;
  }
  .ant-checkbox-wrapper {
    line-height: 32px;
  }
  .ant-form-item-label {
    display: block;
    line-height: 32px;
    vertical-align: middle;
    padding-right: 8px;
  }
  .ant-form-item-control-wrapper {
    flex: 1;
    display: block;
    .ant-form-item-control {
      line-height: 32px;
      > * {
        display: block;
      }
    }
  }
  &__submit {
    text-align: right;
    padding-top: 12px;
    .ant-btn {
      margin-left: 15px;
    }
  }
  &__up-down {
    margin-left: 15px;
  }
}
