.auto-header-bar {
  padding: 0 24px 0 0 !important;
  background: #fff !important;
  -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: relative;
  .auto-header-logo {
    width: 80px;
    padding: 12px 20px;
    float: left;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      border-radius: 50%;
    }
  }

  &.breakpoint {
    .auto-trigger {
      padding: 0;
    }
  }

  .auto-trigger {
    font-size: 20px;
    line-height: 64px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0 24px;
  }
  .auto-userInfo {
    float: right;
    font-size: 14px;
    height: 64px;
    padding-top: 12px;
    p {
      display: block;
      margin: 0;
      line-height: 20px;
      text-align: right;
    }
    a {
      color: #1890ff;
      font-style: normal;
      font-size: 12px;
      margin-left: 10px;
      i {
        margin-right: 5px;
        font-weight: bold;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
