.auto-table {
  p {
    margin: 0;
  }
  background-color: #fff;
  margin-bottom: 24px;
  border-radius: 5px;
  .empty-text {
    height: 100px;
    line-height: 100px;
  }
  &__console {
    display: none;
    > * {
      margin: 0 5px;
    }
    span {
      color: #ccc;
      cursor: not-allowed;
    }
  }
  .ant-table-tbody .ant-table-row:hover {
    .auto-table__console {
      display: block;
    }
  }
}
