@import '../../styles/index';

$wrapperPrefix: $prefix + '-wrapper';
$mainBackground: #f0f2f5;
$contentBackground: #fff;

.#{$wrapperPrefix} {
  height: 100%;
  .ant-spin-container {
    height: 100%;
  }

  &-container {
    display: flex;
    height: 100%;
    overflow: auto;
  }

  &-main {
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 575px;
    background: $mainBackground;
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    &-breadcrumb,
    .ant-breadcrumb {
      height: 60px;
      padding: 0 24px 0 32px;
      font-size: 14px;
      display: flex;
      align-items: center;
      box-shadow: 0 1px 2px 0 rgba(9, 30, 66, 0.25);
      background-color: $contentBackground;
    }
  }

  &-body {
    margin-top: 24px;
    background-color: $contentBackground;
    margin: 12px;
    padding: 24px;
    border-radius: 4px;
  }
}
